<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="container">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :subtitle %>
      <%= form.text_field :subtitle, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :body %>
      <%= form.text_area :body, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :category %>
      <%#= form.select :category, Category.all.select(:name), :prompt => "Виберіть категорію", class: 'form-control' %>
      <%= form.collection_select(:category_ids, Category.all, :id, :name,{:"data-style" => "form-control", :"data-size" => "5"}, {class: "selectpicker", multiple: false}) %>
    </div>
    <div class="form-submit">
      <%= form.submit('Cтворити пост',class:'btn btn-success w-100') %>
    </div>
  </div>
<% end %>
