<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="container">
      <h2> Помилок: <%= post.errors.count %>  при спробі зберегти пост:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="form-group">
      <%= form.label 'Заголовок' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label 'Підзаголовок' %>
      <%= form.text_field :subtitle, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label 'Тіло поста' %>
      <%= form.text_area :body, class: 'form-control' %>
    </div>
    <div class="form-group w-100">
      <%= form.label "Категорія" %>
      <%= form.collection_select(:category, Category.all, :id, :name, class: "form-control form-control-lg", multiple: false) %>
    </div>
    <div class="form-submit">
      <%= form.submit('Зберегти',class:'btn btn-success w-100') %>
    </div>
    </div>
<% end %>
