<% @posts.each do |post| %>
    <div class="container">
      <div id = "post-header">
          <h2 ><%= post.title %> | <span class="text-muted " id="category"><%= @cat[post.category.to_i-1].name%></span></h2>
      </div>
      <div>
        <h4 class="text-muted text-left"><%=  post.subtitle %></h4>
      </div>
      <div class="row">
          <div class="col-md-6 text-left">
            <p class="text-muted"> Написав: 	&nbsp;	<%=  post.user.username %></p>
          </div>
          <div class="col md-6 text-right">
            <p class="text-muted">В:&nbsp; <%=  post.created_at %></p>
          </div>
      </div>
      <div>
        <%= link_to 'Читати', post, class: "btn btn-primary" %>
        <% if current_user && current_user.admin %>
          <%= link_to 'Редагувати', edit_post_path(post), class: "btn btn-secondary" %>
          <%= link_to 'Видалити', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <%end %>
      </div>
    </div>
  <hr>
<%end %>
<br />

