<nav class = "navbar navbar-expand-md bg-warning navbar-light" id="navigationbar">
<div class="container">
  <span class = "navbar-link navbar-brand">
    <h2><%= link_to 'Simple blog', posts_path, class: "text-dark font-weight-bold"%></h2>
  </span>
  <button class="navbar-toggler" type = "button" data-toggle="collapse" data-target="#navdata">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id = "navdata">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to 'Про нас', about_path, class: 'btn' %>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to 'Додати пост', new_post_path, class: 'btn btn-success'%>	&nbsp;
        </li>
      <% end %>
      <li class="nav-item">
        <% if !current_user %>
          <%= link_to 'Вхід', new_user_session_path, class: "btn btn-success" %>
        <% else %>
          <%= link_to 'Вихід', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <%end %>
      </li>
    </ul>
  </div>
</div>
</nav>